
Pokemon Open Sky/Data/Constants.rxdata
Pokemon Open Sky/Data/Constants.rxdata
Pokemon Open Sky/Data/Constants.rxdata
Pokemon Open Sky/Data/Map076.rxdata
Pokemon Open Sky/Data/messages.dat
Pokemon Open Sky/Data/PkmnAnimations.rxdata
Pokemon Open Sky/Data/Quests.rxdata
Pokemon Open Sky/Data/System.rxdata
Pokemon Open Sky/Data/Tilesets.rxdata
Pokemon Open Sky/Data/trainerlists.dat
